@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.form-container {
  width: 400px;
  padding: 20px;
  border: 4px solid #c8f7c2;
  border-radius: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-top: 20px;
}

label {
  margin-bottom: 5px;
}

input,
select {
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 8px 10px;
  background-color: #3abe20;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

button[type="submit"]:hover {
  background-color: #074124;
}
